on:
  pull_request:
    paths:
    - '**.rs'
    - '**/Cargo.toml'
  workflow_dispatch:

name: Library testing

jobs:
  tests:
    name: Tests
    strategy:
      matrix:
        rust:
        - 1.80.0 # current MSRV
        - stable
        - nightly
        os:
        - macos-latest
        - ubuntu-latest
        - windows-latest

    runs-on: ${{ matrix.os }}
    steps:
    - name: Checkout sources
      uses: actions/checkout@v5

    - name: Install stable toolchain
      uses: dtolnay/rust-toolchain@master
      with:
        toolchain: ${{ matrix.rust }}
        components: rustfmt

    - name: Cache dependencies
      uses: Swatinem/rust-cache@v2

    - name: Check that tests run
    - uses: taiki-e/install-action@cargo-hack
    # Excluding the run from cargo-hack as building logos without
    # export_derive breaks all the examples
    - run: cargo test --verbose
    - run: cargo hack test --verbose --feature-powerset
      working-directory: ./logos-codegen
    - run: cargo hack test --verbose --feature-powerset
      working-directory: ./logos-cli
    - run: cargo hack test --verbose --feature-powerset
      working-directory: ./examples
    - run: cargo hack test --verbose --feature-powerset
      working-directory: ./tests
