on:
  pull_request:
    paths:
    - '**.rs'
    - '**/Cargo.toml'
  workflow_dispatch:

name: Library testing

jobs:
  tests:
    name: Tests
    strategy:
      matrix:
        rust:
        - 1.80.0 # current MSRV
        - stable
        - nightly
        os:
        - macos-latest
        - ubuntu-latest
        - windows-latest

    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v6

    - name: Install stable toolchain
      uses: dtolnay/rust-toolchain@master
      with:
        toolchain: ${{ matrix.rust }}
        components: rustfmt
    - uses: taiki-e/install-action@cargo-hack
    - uses: Swatinem/rust-cache@v2

    - name: Top level crate tests
      # Excluding the run from cargo-hack as building logos without
      # export_derive breaks all the examples
      run: cargo test --verbose

    - name: Codegen Tests
      run: cargo hack test --verbose --feature-powerset
      working-directory: ./logos-codegen

    - name: CLI Tests
      run: cargo hack test --verbose --feature-powerset
      working-directory: ./logos-cli

    - name: Integration Tests
      run: cargo hack test --verbose --feature-powerset
      working-directory: ./tests
